* {
    --blue: #051233;
    --red: #fe4a49;
    --white: #FFFFFF;
    --grey: #717e8f;
    --green: #2bbd7e;
    --light-grey: #f8f8f8;
}

body {
    font-family: 'Asap', sans-serif;
    color: var(--blue);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sintony', sans-serif;
}

a {
    color: var(--red);
}

a:hover {
    color: var(--red);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-red {
    background-color: var(--red);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

.b-light-grey {
    border: 2px solid #e7eaee;
    border-radius: 10px;
}

.text-blue {
    color:var(--blue);
}

.text-red {
    color:var(--red);
}

.text-light-grey {
    color:var(--light-grey);
}

.text-s {
    font-size:10px;
}


.text-thin {
    font-weight: 300;
}

.text-underline {
    border-bottom: 5px solid var(--red);
}

.text-weight-bold {
    font-weight: 500;
}

p {
    font-weight: 300;
}

h6 {
    font-weight: 600;
}

.no-padding {
    padding:0;
}

.l-height-30 {
    line-height: 30px;
}

.l-height-40 {
    line-height: 40px;
}

.l-height-50 {
    line-height: 50px;
}

.ht-50 {
    height:50px;
}

.h-150 {
    height:150px;
}


.h-200 {
    height:200px;
}

.h-250 {
    height:250px;
}

.h-350 {
    height:350px;
}

/* 
/*
*   ALL SITE HEADING
*/

// Homepage Heading Announcement title

.h-section {
    font-size: 30px;
    font-weight: 600;
}

.h-medium {
    font-size:25px;
    font-weight:500;
}

// Single Announcement title

.announcement-title {
    font-size:22px;
    font-weight: 500;
}

.announcement-subtitle {
    font-size: 14px;
    font-weight: 300;
}

.announcement-subtitle a {
    color: var(--blue);
    text-decoration: none;
}

.announcement-subtitle a:hover {
    color: var(--red);
}

.label-category {
    background-color: #f1f1f1;
    padding: 2px 6px;
}

.announcement-user-date {
    font-size:12px;
}


// Show all button
.show-all {
    font-size:15px;
    transition: 0.5s;
}

.show-all:hover {
    text-decoration: underline;
    color:var(--red);
}

//Button custom
.btn-red {
    color: #fff;
    background-color: var(--red);
    border:2px solid var(--red);
    transition: 0.5s;
}

.btn-green {
    color: #fff;
    background-color: var(--green);
    border:2px solid var(--green);
    transition: 0.5s;
}

.btn-green:hover {
    color: var(--green);
    background-color: transparent;
    border:2px solid var(--green);
}

//Logo

.img-logo {
    width:160px;
}

.img-logo-footer {
    width:135px;
}

// Navbar

.nav-link {
    border-bottom: 2px solid transparent;
}

.navbar-custom {
    height:75px;
    padding-top:0px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-link:hover {
    border-bottom: 2px solid var(--red);
}

.btn-red:hover {
    background-color: transparent;
    border: 2px solid var(--red);
    color: var(--red);
}

.btn-red-outline{
    background-color: transparent;
    border: 2px solid var(--red);
    color: var(--red);
}

.btn-red-outline:hover {
    background-color: var(--red);
    color: white;
}

.btn-red-outline a:hover {

    color: white;
    text-decoration: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: white;
}

.list-margin {
    margin-top: 14px;
}

// Sub-nav

li a.sub-menu-link {
    color: var(--blue)!important;
    font-size:13px;
    font-weight: 200;
}

.sub-nav {
    height:50px;
    background-color: var(--light-grey);
}

// Language Navbar

.language-nav {
    height:20px;
    color: var(--light-grey);
    padding-top:5px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
}


// Header

.masthead {
    height: 50vh;
    min-height: 500px;
}

.masthead-title {
    font-weight: 600;
    line-height:52px;
}

#input_header{
    width:350px;
    border:none;
    border-radius:1px;
    background-color: #ffffff0a;
}

#input_header::placeholder{
      color:rgba(255, 255, 255, 0.507)
  }
  .form-control:focus{
      outline:none;
      box-shadow:none;
}

.search-bar  {
    border:1px solid var(--red);
}

.btn-red-no-padding {
    padding-top:0;
    padding-bottom:0;
}

.w-100px {
  width: 100px;
}

@media (max-width: 767.98px) 
{ 
    .masthead {
        height: 80vh;
        min-height: 500px;
    } 
}


// Search Bar

.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-weight: 200;
  }


// Footer

.no-bullets {
    list-style: none;
}


// Breadcrump

#bread {
    padding:0.25rem 0!important;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
    content: none;
}


//  Cards

.card-title {
    font-size:15px;
    margin-bottom:6px;
}

.card-title a {
    color: var(--blue);
}

.card-title a:hover {
    text-decoration: underline;
}

.label-card {
    font-size:11px;
}

.label-card:hover {
    color: var(--blue);
}

.card-body {
    padding: 0.75rem 1.25rem;
}

.hr-card {
    margin-top: 0.25rem;
}

p.card-text {
    font-size: 11px;
}

.price {
    font-size:25px;
}

.btn-card {
    border:1px solid var(--blue);
    padding: 2px 10px;
    font-size:12px;
}

.btn-card:hover {
    background-color: var(--blue);
    color: white;
}

.btn-card-red {
    border:1px solid var(--red);
    padding: 2px 10px;
    font-size:12px;
    color: var(--red);
}

.btn-card-red:hover {
    background-color: var(--red);
    color: white;
}

.btn-accept {
    border:2px solid var(--green);
    background-color: transparent;
    color: var(--green);
}

.btn-accept:hover {
    background-color: var(--green);
    color: white;
}

.btn-reject {
    border:2px solid var(--red);
    background-color: transparent;
    color: var(--red);
}

.btn-reject:hover {
    background-color: var(--red);
    color: white;
}


.fa-heart:hover {
    color: var(--red)
}

@media (max-width: 575.98px) { 
    .masthead {
        height: 81vh;
        min-height: 500px;
    }
}

ul.no-padding {
        padding: 0;
        list-style-type: none;
}

// Vista revisore accetta/rifiuta

.card-accept {
    border-radius: 10px;
    background-color: white!important;
}


// CAROSELLO

.slick-next:before, .slick-prev:before {
    color: var(--red);
}

.slick-dots {
    color: var(--red)!important;
}

// PAGINA REVISORE

.label-title-r {
    border-bottom:2px solid var(--blue);
}

.label-revisor { 
    font-size:17px;
    font-weight: 700;
}

.label-google {
    border: 2px solid var(--light-grey);
    padding: 3px 6px;
    margin-bottom:20px;
    border-radius:4px;
}

// PAGINA PER DIVENTARE REVISORE

.modify-user {
    font-size:11px;
    font-weight: 200;
}